html {
    width: 100%;
    overflow-x: hidden;
}

body {
    font-family: 'Roboto';
    color: #2E2F42;
    width: 100%;
    margin: auto;
    overflow-x: hidden;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 18px;
    box-sizing: '';
    position: absolute;
    height: 72px;
    left: 0px;
    top: 0px;
    background: #FFFFFF;
    border-bottom: 1px solid #E7E9FC;
}

.header-pages {
    width:100%;
    text-align:center;
    padding:20px;
}

.ul_row {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    list-style: none;
    margin-top: 20px;
}

a {
    text-decoration: none;
    color:#2E2F42;
}

a:hover {
    color: #404BBF;
    text-decoration: underline;
}

main {
    display: flex;
    align-items: center;
        justify-content: center;
        flex-direction: column;
}
.button-list {
    display: inline;
}

.buttons-in-list {
    display: inline;
    font-size: 16px;
    cursor: pointer;
}

.list-item-title {
    font-size: 20px;
}

.list-item-desc {
    font-size: 16px;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: #2E2F42;
    width: 100%;
    height: 300px;
}

.footer-desc {
    width: 50%;
    margin-left: 10%;
}

.buttons-in-list {
    background-color: #E7E9FC;
}

.buttons-in-list :active {
    background-color: #404BBF;
}

.product-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style: none;
    margin: 5% 10%;
}

.product-card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    margin-bottom: 5%;
}

.product-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);  
}