html {
    width: 100%;
    overflow-x: hidden;
}

body {
    font-family: 'Roboto';
    color: #2E2F42;
    width: 100%;
    margin: auto;
    overflow-x: hidden;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 18px;
    box-sizing: '';
    position: absolute;
    height: 72px;
    left: 0px;
    top: 0px;
    background: #FFFFFF;
    border-bottom: 1px solid #E7E9FC;
}


.header-pages {
    width:100%;
    text-align:center;
    padding:20px;
}

.ul_row {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    list-style: none;
}

a {
    text-decoration: none;
    color:#2E2F42;
    transition: 0.5s;
}

a:hover {
    color: #404BBF;
    border-bottom: 3px solid #4D5AE5;
    padding-bottom: 20px
    ;
}

.main-page-bg {
    z-index: -1;
    width: 100%;
    height: 600px;
    left: 0px;
    top: 72px;
    background-image: url(/images/people-office\ 1.png);
    background-size: cover;
    background-color: rgb(0, 0, 0, 0.6);
    background-blend-mode: overlay;
}


.title {
    margin-top: 20%;
    align-self: center;
    font-size: 56px;
    color: #fff;
    font-family: inherit;
    text-align: center;
}

.order-button {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin: 0 auto;
    padding: 16px 32px;
    gap: 10px;
    width: 169px;
    height: 56px;
    left: 636px;
    top: 428px;
    background: #4D5AE5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    color: #FFFFFF;
    transition: 0.5s;
}

.order-button:hover {
    background-color:#404BBF;
}
.list-item-title {
    font-size: 20px;
}

.list-item-desc {
    font-size: 16px;
    width: 70%;
    margin-bottom: 5%;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: #2E2F42;
    width: 100%;
    height: 300px;
}

.footer-desc {
    width: 50%;
    margin-left: 10%;
}

.goals-list {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0;
    margin-bottom: 5%;
}

.goals-boxes {
    width: 264px;
    height: 112px;
    background-color: #E7E9FC;
    border-radius: 5%;
    margin-bottom: 8px;
}

.members-list {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 3%;
    padding: 0;
    margin-bottom: 5%;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.desc-list {
    display: flex;
    flex-direction: column 2;
    list-style: none;
    gap: 3%;
    align-items: center;
    padding: 0;
    margin-bottom: 5%;
}

.section-flex {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.cloud-bg {
    background-color: #E7E9FC;
}

.menu {
    display: none;
    gap: 4px;
}

.menu-line {
    width: 30px;
    height: 3px;
    background-color: #2E2F42;
    /*margin-bottom: 4px;*/
    border-radius: 20%;
}

.member-card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    margin-bottom: 5%;
    height: 400px;
}

.member-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.member-card-inside {
    padding: 5px 16px;
}

.customers {
    margin-top: 7%;
}

.customers-title {
    padding-bottom: 4%;
}

.customers-list {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 3%;
    padding: 0;
    margin-bottom: 5%;
}

.customer-box {
    width: 168px;
    height: 88px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.titles {
    margin: 3% 0;
}